body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.wrap {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  .head-tip-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #0b1a28;
    color: #428bca;
  }
  main {
    h1.title {
      width: 100%;
      text-align: center;
      font-size: 3em;
    }
  }
}
